{% extends 'base.html.twig' %}

{% block title %}Новая статья | SymphArt{% endblock %}

{% block body %}
    <h1>Новая статья</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
